USE [B3]
GO
/****** Object:  Table [dbo].[Exceptions]    Script Date: 12/07/2019 12:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exceptions](
	[date] [datetime] NULL,
	[exception] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
